body {
    background: linear-gradient(125deg, red, green, blue);
    /* background: linear-gradient(to bottom, red, green, blue); */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas1 {
    /* background: purple; */
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 80%;
}

#collisionCanvas {
    /* background: purple; */
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 80%;
    opacity: 0;
}