div {
    background-color: skyblue;
    width: 100px;
    height: 60px;
    float: left;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

div:hover {
    background-color: pink;
    transform: perspective(200px) translate3d(0, .1em, 1em);
}